.HomePage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sections{
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }
}
.Shape1{
    position: absolute;
    width: 25rem;
    height: 25rem;
    background-color: #FF8552;
    z-index: -1;
    border-radius: 99px;
    transform: rotate(43deg);
    left: -8%;
    top: -7.4%;
}

// imports
@import 'petsForAdoption.scss';
@import 'sercives.scss';
@import 'petAdvices.scss';
@import 'about.scss';
