.PetAdvices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    // padding: 9%;
    position: relative;
    overflow: hidden;
    .vector{
      position: absolute;
      left: 87%;
      top: 4%;
      width: 30rem;
      height: 30rem;
      // object-fit: cover;
    }
    .vector2{
      position: absolute;
      left: -6%;
      top: 50%;
      width: 21rem;
      height: 22rem;
      z-index: -1;
      // object-fit: cover;
    }
    .head {
        font-size: 3rem;
        color: $darkC1;
        font-weight: 700;
        line-height: 3rem;
    }
  
    .carousel-container {
      position: relative;
      width: 100%;
      max-width: 38rem;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .content {
      display: flex;
      transition: transform 0.4s ease;
      .shape{
          position: absolute;
          background-color: #E6E6E6;
          width: 21rem;
          height: 22rem;
          transform: rotate(-7deg);
          border-radius: 20px;
          z-index: -1;
          left: 4%;
          top: 5%;
          filter: blur(3px)
        }
    }
  
    .carousel-item {
      flex: 0 0 100%;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      justify-content: center;
  
      .carousel-img {
        width: 21rem;
        height: 22rem;
        object-fit: cover;
        
      }
  
      .carousel-description {
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        width: 15rem;
      }
    }
  
    .carousel-circles {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
  
      .carousel-circle {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
        cursor: pointer;
  
        &.active {
          background-color: #333;
        }
      }
    }
  
  }
  
