.Services{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    .Title{
        color: $darkC1;
    }
}
.Cards{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    .Card{
        .service-1{
            width: 100%;
            height: 20rem;
            z-index: -1;
            position: relative;
        }
        .Right{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            padding: 0 0 0 60%;
            top: 5%;
            position: absolute;
            .Title{
                display: flex;
                flex-direction: row;
                gap: 0.2rem;
                font-size: 2.2rem;
                width: 17rem;
                font-weight: 600;
                color:$darkC1;
                img{
                    max-width: 2.1rem;
                    height: auto;
                }
            }
            .Description{
                font-size: 0.8rem;
                font-weight: 300;
                width: 17rem;
                color: rgba(37, 32, 30, 0.5);
            }
            button{
                margin-left: 35%;
            }
        }
    }
    .Card{
        .service-2{
            width: 100%;
            height: 20rem;
            z-index: -1;
            position: relative;
        }
        .Left{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            padding: 3% 4.4%;
            top: 54%;
            position: absolute;
            .Title{
                font-size: 2.2rem;
                width: 17rem;
                font-weight: 600;
                color:$darkC1;
                display: flex;
                align-items: center;
                img{
                    max-width: 2.1rem;
                    height: auto;
                }
            }
            .Description{
                font-size: 0.8rem;
                font-weight: 300;
                width: 19rem;
                color: rgba(37, 32, 30, 0.5);
            }
            button{
                margin-left: 2rem;
            }
        }
    }
}

@include respond-to("small"){
    .Cards{
        .Card{
            .Right{
                padding-left: 51%;
                .Title{
                    font-size: 2.1rem;
                }
            }
            .Left{
                padding: 4% 4.4%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                button{

                }
            }
        }
    }
}
