.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 3% ;
    height:15vh;
    
    .Menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5rem;
  
      a {
        text-decoration: none;
        color: black;
        font-weight: 250;
  
        &:hover {
          color: #006565;
        }
      }
      .Dropdown {
        position: relative;
      }

      .DropdownMenu {
        position: absolute;
        width: max-content;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        font-size: 0.8rem;
      }
    }
    .openMenu{
      background-color: #006565;
    }
    .Menu {
      a {
        text-decoration: none; 
      }
      .MuiMenu-paper {
        top: 3rem;
      }
    }
}
  