.wishlist{
    h1{
        text-align: center;
    }
    .wishlist-content{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;
            .left{
            // display: flex;
            // flex-direction: row;
            // align-items: flex-start;
            // align-items: center;
            // width: 50%;
            // height: 65vh;
            .Wishlist-slide {
            // align-items: center;
            //   border-radius: 10px;
            //   padding: 1rem;
            //   // border: 1px solid #dddddd95;
            // margin-left: 5rem;
            //   width: 60%;
            //   height: 58%;
            //   position: absolute;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;
              p {
                color: #777;
                font-size: 16px;
                text-align: center;
              }
              .slick-prev, .slick-next{
                  // background-color: gray;
              }
              // div{
              //     justify-content: center;
              //     align-items: center;
              //     position: relative;
              //     .Pet{
              //         width: fit-content;
              //         img{
              //             width:fit-content;
              //         }
              //     }
              // }
            }
          }
  
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        // align-items: center;
        // .Wishlist-slide{
        //     // display: flex;
        //     // flex-direction: row;
        //     // border: 1px solid black;
        //     padding: 1rem;
        //     width: 100%;
        //     // .pet{
        //     //     // size: 10rem;
        //     // }
        // }
    }

}