
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$C1 : #297373;
$C2 : #FF8552;
$C3 : #E6D76D;
$C4 : #E6E6E6;
$darkC1 : #003636;



.darkC1{
  color:$darkC1;
}
.C1{
  color:$C1;
}
.C2{
  color:$C2;
}
.C3{
  color:$C3;
}
.C4{
  color:$C4;
}
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}



html{
  font-size: 20px;
  font-family: 'Poppins';
  scroll-behavior:smooth !important;
}
@media (max-width:1300px) {
    html{
      font-size:16px;
    }
}
@media (max-width:750px) {
    html{
      font-size:9px;
    }
}













// imports
@import 'cors/header.scss';
@import 'cors/hero.scss';
@import 'cors/buttons.scss';
@import 'cors/footer.scss';
@import 'cors/404.scss';
@import 'homePage/index.scss';
@import 'announcepage/announce.scss';
@import 'Authentification/auth.scss';